In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("orders.csv")

In [3]:
df.head()

,OrderID,CustomerID,PaymentID,OrderDate,ShipperID,ShipDate,DeliveryDate,Total_order_amount
0,7655500,57083,2,2020-01-12,7,2020-01-13,2020-01-19,25112.0
1,7655501,57086,3,2020-01-20,2,2020-01-24,2020-01-27,22453.0
2,7655502,57086,4,2020-02-06,7,2020-02-11,2020-02-21,13293.0
3,7655503,57088,4,2020-02-09,1,2020-02-13,2020-02-26,16063.0
4,7655504,57090,4,2020-02-11,3,2020-02-15,2020-02-20,15193.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrderID             4999 non-null   int64
 1   CustomerID          4999 non-null   int64
 2   PaymentID           4999 non-null   int64
 3   OrderDate           4999 non-null   object
 4   ShipperID           4999 non-null   int64
 5   ShipDate            4999 non-null   object
 6   DeliveryDate        4999 non-null   object
 7   Total_order_amount  4999 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 312.6+ KB

In [5]:
df['OrderDate']=pd.to_datetime(df.OrderDate,dayfirst = False)
df['ShipDate']=pd.to_datetime(df.ShipDate,dayfirst = False)
df['DeliveryDate']=pd.to_datetime(df.DeliveryDate,dayfirst = False)

In [6]:
df.dtypes

OrderID                        int64
CustomerID                     int64
PaymentID                      int64
OrderDate             datetime64[ns]
ShipperID                      int64
ShipDate              datetime64[ns]
DeliveryDate          datetime64[ns]
Total_order_amount           float64
dtype: object

In [8]:
df.head(10)

,OrderID,CustomerID,PaymentID,OrderDate,ShipperID,ShipDate,DeliveryDate,Total_order_amount
0,7655500,57083,2,2020-01-12,7,2020-01-13,2020-01-19,25112.0
1,7655501,57086,3,2020-01-20,2,2020-01-24,2020-01-27,22453.0
2,7655502,57086,4,2020-02-06,7,2020-02-11,2020-02-21,13293.0
3,7655503,57088,4,2020-02-09,1,2020-02-13,2020-02-26,16063.0
4,7655504,57090,4,2020-02-11,3,2020-02-15,2020-02-20,15193.0
5,7655505,57094,4,2020-02-15,1,2020-02-24,2020-02-27,13581.0
6,7655506,57092,4,2020-02-20,8,2020-02-23,2020-02-27,74120.0
7,7655507,57095,6,2020-02-23,8,2020-03-04,2020-03-11,12092.0
8,7655508,57105,4,2020-02-26,5,2020-02-28,2020-03-08,48258.0
9,7655509,57095,5,2020-02-26,7,2020-02-27,2020-03-08,7509.0

In [42]:
import sqlalchemy

In [43]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:Neel2611@localhost:3306/e_commerce")

In [52]:
df.to_sql("orders",engine,if_exists = 'replace',index = False)

4999